# misc files

.DS_Store
**/.vscode/*
!.vscode/c_cpp_properties.json

*.txt
!expected.txt
!requirements.txt
*.so
*.pdf
*.svg
!logo.svg
*.conf

node_modules
target/
__pycache__
near_audit*.md

slice/*.pdf

compile_commands.json
.cache

# project tmps

*.bak
*.log
.*.tmp
.*.json
.tmp/*
.api-result/*
clang-tidy-fixes.yaml

# project results

near_audit*.csv
summary.csv
summary.json
