.DS_Store
.vscode/*
!.vscode/c_cpp_properties.json

*.txt
!requirements.txt
*.so
*.pdf
*.svg
!logo.svg
*.conf
*.bak
*.log
.*.tmp
.*.json
.tmp/*
.api-result/*

slice/*.pdf

node_modules
target/
__pycache__
near_audit*.md

near_audit*.csv
summary.csv
summary.json
compile_commands.json
.cache
